.container {
    display: flex;
    justify-content: center;
    width: 75%;
    margin-left: 8.6rem;
}

@media (max-width: 770px) {
    .container {
        width: 100%;
        margin-right: auto !important;
        margin-left: auto !important;
    }
}